Ejemplo DataFrames de Paises

In [10]:
import pandas as pd

Creamos un diccionario con Paises

In [ ]:
data_pais = {
    "pais": ["Brasil", "México", "España", "Perú", "Colombia", "Venezuela"],
    "capital": ["Brasilia", "Ciudad de México", "Madrid", "Lima", "Bogotá", "Caracas"],
    "superficie": [8.5, 1.9, 0.6, 0.4, 1.6, 0.9]
             }

Creamos un DataFrame a partir del diccionario

In [ ]:
df = pd.DataFrame(data_pais)
df

Seleccionar solamente una columna del DataFrame

In [20]:
df["capital"]

0            Brasilia
1    Ciudad de México
2              Madrid
3                Lima
4              Bogotá
5             Caracas
Name: capital, dtype: object

Seleccionar más de una columna

In [18]:
df[["capital", "superficie"]]

            capital  superficie
0          Brasilia         8.5
1  Ciudad de México         1.9
2            Madrid         0.6
3              Lima         0.4
4            Bogotá         1.6
5           Caracas         0.9

Podemos seleccionar filas por su posición de índice.
Primer índice inclusive.

In [21]:
df[2:5]

       pais capital  superficie
2    España  Madrid         0.6
3      Perú    Lima         0.4
4  Colombia  Bogotá         1.6

Tenemos la posibilidad de crear una columna como índice, no importa si es numérica o de texto

In [22]:
df.index = ["BR", "ME", "ES", "PE", "CO", "VE"]
df

         pais           capital  superficie
BR     Brasil          Brasilia         8.5
ME     México  Ciudad de México         1.9
ES     España            Madrid         0.6
PE       Perú              Lima         0.4
CO   Colombia            Bogotá         1.6
VE  Venezuela           Caracas         0.9

Para la selección de filas hemos visto que podemos hacerlo con Index.
También podemos hacerlo con iloc y la posición de las columnas que deseamos.
Filas y columnas

In [ ]:
df.iloc[[2,4], [1,2]]

   capital  superficie
ES  Madrid         0.6
CO  Bogotá         1.6

Podemos realizar lo mismo, con el método loc, que nos peormite hacerlo por nombre de columna

In [ ]:
df.loc[:, ["capital", "superficie"]]

SyntaxError: invalid syntax (567695022.py, line 1)